/* style.css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    /* background-image: url('./assets/53-light-purple-gradient.jpg'); */
  }

.header {
    font-size: clamp(1vh, 2.3vw, 30px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px 15px;
    height: 6vh;
}

.fullscreen-div {
    flex-grow: 1;
    margin: 2vh;
    background-color: red;
    display: flex;
}

.friends-div {
    background-color: green;
    width: 25%;
}

.chat-div {
    background-color: blue;
    width: 75%;
}

.friends-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.friends-list li {
    font-size: clamp(2vw, 4.2vw, 50px);
    border-bottom: 3px solid black;
    padding: 1vw;
}

.add-friend-div {
    display: flex;
    height: 8vh;
}

.add-friend-div input {
    font-size: 1.7vw;
    width: 80%;
}

.add-friend-div button {
    font-size: 1.6vw;
    width: 20%;
}

.friends-list li:hover {
    transition: all 0.3s ease;
    cursor: pointer; 
    background-color: aqua;
}

.chat-list {
    display: flex;
    flex-direction: column;
    padding: 0.5vw;
    gap: 2vh;
}

.chat-list li {
    list-style: none;
}

.received {
    align-self: flex-start;
}

.sent {
    align-self: flex-end;
}

.chat-div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.message-div {
    background-color: red;
    display: flex;
    height: 7.5vh;
    padding: 10px 10px;
}

.message-input {
    width: 85%;
}

.message-button {
    width: 15%;
}



